<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p><a ui-sref="about">About us</a></p>
        </div>
        <div class="col-md-4">
            <p><a ui-sref="faqs">FAQ</a></p>
            <p><a ui-sref="warranty">Warranty</a></p>
            <p><a ui-sref="policy">Privacy Policy</a></p>
            <p><a ui-sref="terms">Terms & Conditions</a></p>
            <p><a>Size chart</a></p>
            <p><a>Contact us</a></p>
        </div>
        <div class="col-md-4">
            <form class="form">
                <div class="form-group">
                    <label>Insicribite a nuestra lista de correo</label>
                    <input type="text" class="form-control">
                </div>
                <button type="submit" class="btn btn-light">Inscríbete</button>
            </form>
        </div>
    </div>
</div>
