<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p>Quiénes somos</p>
            <p>Conócenos</p>
        </div>
        <div class="col-md-4">
            <p>Peticiones, quejas y reclamos</p>
            <p>Preguntas frecuentes</p>
            <p>Servicio al cliente</p>
            <p>Políticas de envío</p>
            <p>Contactenos</p>
            <p>Tabla de medidas</p>
        </div>
        <div class="col-md-4">
            <form class="form">
                <div class="form-group">
                    <label>Insicribite a nuestra lista de correo</label>
                    <input type="text" class="form-control">
                </div>
                <button type="subtmi" class="btn btn-light">Inscríbete</button>
            </form>
        </div>
    </div>
</div>
