<div class="header-image">
    <img src="images/style_guide-back.jpg" class="img-back">
</div>

<ul class="breadcrumb">
    <li><a href="/">HOME</a></li>
</ul>

<div class="content">
    <p class="page-detail">
        Suarez is a Colombian brand created over 20 years ago by former cycling professional and current Masters cyclist, 
        Carlos Suarez based on his pursuit to create the high quality products that meet the needs of thousands of athletes, 
        ranging from elite professional athletes to amateur enthusiasts.
    </p>
    <p class="page-detail">
        Our factory is located in Medellín, giving us the opportunity to put our garments to the test in the rugged Colombian mountains.  
        In addition, the entire production process is done in-house, giving us full control over the final product and guaranteeing 
        the highest quality possible.
    </p>
    <p class="page-detail">
        Our materials are both domestic and imported, from the YKK zippers to the eco-friendly Italian dyes; 
        we do not sacrifice quality for price. 
    </p>
    <p class="page-detail">
        For these reasons, we have been the Official Sponsor of the Colombia National Cycling Team worn by top athletes like 
        Rigoberto Uran, Nairo Quintana, Esteban Chaves, for the last six consecutive years alongside various other professional 
        teams in the Americas.
    </p>
    <p class="page-detail">
        We look forward to serving your every need.
    </p>
</div>


