<div class="header-image">
    <img src="images/style_guide-back.jpg" class="img-back">
</div>

<ul class="breadcrumb">
    <li><a href="/">HOME</a></li>
</ul>

<div class="content">
    
    <div class="page-detail">
        <ol>
            <li>
                <strong>How to quote an order for my team? </strong>
                <br>
                Go to “contact”, fill the form giving the details of what you need and one our consultants will be in contact with you.
            </li>
            <li>
                <strong>How long takes for my order to be delivered?</strong>
                <br>
                After all designs are approved and a down payment is made, turnaround time will be of 4 weeks. We use FedEx Courier. The estimated transit for the order when it leaves our premises is 4-5 business days. 
            </li>
            <li>
                <strong>What are the minimums?</strong>
                <br>
                Per reference and style the minimum is 5 units from any line of product, such PRO, Adventure, Performance and Classic
            </li>
            <li>
                <strong>What are the payment options?</strong>
                <br>
                You can make a full 100% payment to start the production by Credit Card or Bank Wire, also we have a Credit Card payment when you check out for your order when you are member of a team logged in our system. 
            </li>
        </ol>
    </div>
</div>