<div class="row no-gutters home-banner home-banner-bg1">
    <div class="col-md-6">
        <img src="images/home-jersey.png" class="home-banner-img">
    </div>
    <div class="col-md-6">
        <div class="home-banner-cta">
            <span>KNOW OUR</span>
            <br>
            REFRENCES
            <a ui-sref="sports">Start</a>
        </div>
    </div>
</div>

<div class="row no-gutters home-banner home-banner-bg2">
    <div class="col-md-6">
        <div class="home-banner-cta">
            Inspiration center
            <br>
            <a ui-sref="sports">Start</a>
        </div>
    </div>
    <div class="col-md-6">
        <img src="images/home-jersey.png" class="home-banner-img">
    </div>
</div>

<div class="row no-gutters home-contact">
    <div class="col-md-8 text-center">
        <p>CONTACT AN ADVISOR</p>
    </div>
    <div class="col-md-4 text-left">
        <button>Contact</button>
    </div>
</div>