<div class="header-image">
    <img src="images/style_guide-back.jpg" class="img-back">
</div>

<ul class="breadcrumb">
    <li><a href="/">HOME</a></li>
</ul>

<div class="content">
    <p class="page-detail">
        <u><strong>Introduction</strong></u>
    </p>
    <p class="page-detail">
        C.I. Industrias Suarez (<strong>"Suarez"</strong> or <strong>"We"</strong>) respects your 
        privacy and is committed to protecting it through our compliance with this notice.
    </p>
    <p class="page-detail">
        This notice describes the types of information we may collect from you or that you may provide 
        when you visit the website (www.suarezcustom.com) (our <strong>"Website"</strong>) and our practices 
        for collecting, using, maintaining, protecting, and disclosing that information.
    </p>
    <p class="page-detail">
        This notice applies to information we collect:
    </p>
    <ul class="page-detail">
        <li>On this Website.</li>
        <li>In email, text, and other electronic messages between you and this Website or our social media accounts..</li>
    </ul>
    <p class="page-detail">
        It does not apply to information collected by:
    </p>
    <ul class="page-detail">
        <li>us offline or through any other means, including on any other website operated by Suarez or any third party; or </li>
        <li>any third party, including through any application or content (including advertising) that may link to or be accessible from or on the Website.</li>
    </ul>
    <p class="page-detail">
        Please read this notice carefully to understand our policies and practices regarding your information and how we will treat it. 
        If you do not agree with our policies and practices, your choice is not to use our Website. By accessing or using this Website, 
        you agree to this privacy notice. This notice may change from time to time (see Changes to Our Privacy Policy). 
        Your continued use of this Website after we make changes is deemed to be acceptance of those changes, 
        so please check the notice periodically for updates.
    </p>
    <p class="page-detail">
        <u><strong>Visitors Under the Age of 18</strong></u>
    </p>
    <p class="page-detail">
        Our Website is not intended for visitors under 18 years of age. No one under age 18 may provide any information to or on the Website. 
        We do not knowingly collect personal information from visitors under 18. If you are under 18, do not use or provide any information 
        on this Website. If we learn we have collected or received personal information from a child under 18 without verification of 
        parental consent, we will delete that information. If you believe we might have any information from or about a child under 18, 
        please contact us at [julian@suarez.com.co].
    </p>
    <p class="page-detail">
        <u><strong>Information We Collect About You and How We Collect It</strong></u>
    </p>
    <p class="page-detail">
        We collect several types of information from and about users of our Website, including information:
    </p>
    <ul class="page-detail">
        <li>by which you may be personally identified, such as name, postal address, payment card holder information, 
            credit or debit cardholder information, e-mail address, and telephone number ("<strong>personal information</strong>");</li>
        <li>user generated content, such as photos, videos, comments, and reviews; and</li>
        <li>about your Internet connection, the equipment you use to access our Website and usage details.</li>
    </ul>
    <p class="page-detail">
        We collect this information:
    </p>
    <ul class="page-detail">
        <li>Directly from you when you provide it to us; and</li>
        <li>Automatically as you navigate through our Website. Information collected automatically may include usage details, 
            IP addresses, and information collected through cookies, web beacons, and other tracking technologies.</li>
    </ul>
    <p class="page-detail">
        <u><strong>Information You Provide to Us.</strong></u> The information we collect on or through our Website may include:
    </p>
    <ul class="page-detail">
        <li>Information that you provide by filling in forms on our Website. This includes information provided at the time 
            of registering to use our Website, subscribing to our newsletters, requesting further services, or ordering 
            products through our Website. We may also ask you for information when you enter a contest or promotion 
            sponsored by us, and when you report a problem with our Website.</li>
        <li>Records and copies of your correspondence (including email addresses), if you contact us.</li>
        <li>Details of transactions you carry out through our Website and of the fulfillment of your orders. 
            You may be required to provide financial information before placing an order through our Website.</li>
    </ul>
    <p class="page-detail">
        <u><strong>Information We Collect Through Automatic Data Collection Technologies.</strong></u> As you navigate through 
        and interact with our Website, we may use automatic data collection technologies to collect certain information about 
        your equipment, browsing actions, and patterns, including:
    </p>
    <ul class="page-detail">
        <li>Details of your visits to our Website, including usage and activity data, traffic data, location data, logs, 
            and other communication data and the resources that you access and use on the Website.</li>
        <li>Websites you visit before or after visiting the Website.</li>
        <li>Information about your computer and Internet connection, including your IP address, operating system, and browser type.</li>
    </ul>
    <p class="page-detail">
        The information we collect automatically may include personal information or we may maintain it or associate it with personal 
        information we collect in other ways or receive from third parties. It helps us to improve our Website and to deliver a better 
        and more personalized service, including by enabling us to:
    </p>
    <ul class="page-detail">
        <li>Estimate our audience size and usage patterns.</li>
        <li>Store information about your preferences, allowing us to customize our Website according to your individual interests.</li>
        <li>Speed up your searches.</li>
        <li>Recognize you when you return to our Website.</li>
    </ul>
    <p class="page-detail">
        The technologies we use for this automatic data collection may include "cookies" and "web beacons." Cookies are small amounts of 
        data that are stored within your Internet browser, which saves and recognizes your browsing habits. Suarez uses both session cookies 
        (which track a user’s progression during one site visit) and persistent cookies (which track a user over time). 
        Web beacons are web page elements that can recognize certain types of information on your computer or mobile device, such as the 
        time and date you viewed a page, which emails are opened, which links are clicked, and similar information. This information may 
        be used to provide you with interest-based (behavioral) advertising or other targeted content. 
    </p>
    <p class="page-detail">
        Your Internet browser and mobile device may allow you to adjust your browser settings so that "do not track" requests are sent 
        to the websites you visit. Suarez respects your wishes and will not track user activity once "do not track" signals have been activated.
    </p>
    <p class="page-detail">
        <u><strong>How We Use Your Information</strong></u>
    </p>
    <p class="page-detail">
        We use information that we collect about you or that you provide to us, including any personal information:
    </p>
    <ul class="page-detail">
        <li>To present our Website and its contents to you.</li>
        <li>For support related purposes.</li>
        <li>To develop and improve our products and services.</li>
        <li>To provide you with information, products, or services that you request from us.</li>
        <li>To fulfill any other purpose for which you provide it.</li>
        <li>To provide you with notices about your account.</li>
        <li>To carry out our obligations and enforce our rights arising from any contracts entered into between you and us, 
            including for billing and collection.</li>
        <li>To notify you about changes to our Website or any products or services we offer or provide though it.</li>
        <li>In any other way we may describe when you provide the information.</li>
        <li>For any other purpose with your consent.</li>
    </ul>
    <p class="page-detail">
        We may also use your information to contact you about our own and third-parties goods and services that may be 
        of interest to you. If you do not want us to use your information in this way, please adjust your user preferences 
        in your account profile. For more information, see Choices About How We Use and Disclose Your Information.
    </p>
    <p class="page-detail">
        <u><strong>Disclosure of Your Information</strong></u>
    </p>
    <p class="page-detail">
        We may disclose aggregated information about our users, and information that does not identify any individual, without restriction.
    </p>
    <p class="page-detail">
        We may disclose personal information that we collect or you provide as described in this privacy notice:
    </p>
    <ul class="page-detail">
        <li>To our subsidiaries and affiliates.</li>
        <li>To contractors, service providers, and other third parties we use to support our business, including marketing and 
            advertising agencies, and payment processors. Note that we use third-party payment processors, including PayPal, 
            to handle payment transactions. You can read about PayPal’s privacy practices in the PayPal 
            <a href="https://www.paypal.com/gi/webapps/mpp/ua/privacy-full">Privacy Policy.</a></li>
        <li>To a buyer or other successor in the event of a merger, divestiture, restructuring, reorganization, dissolution, or other 
            sale or transfer of some or all of Suarez’s assets, whether as a going concern or as part of bankruptcy, liquidation, or 
            similar proceeding, in which personal information held by Suarez about our Website users is among the assets transferred.</li>
        <li>To third parties who conduct marketing studies and data analytics. These third parties may combine your information with 
            the information of other consumers for purposes of conducting these studies and/or analytics. For instance, we use the Google Analytics 
            demographics and interest reporting features. You may opt out of the Google Analytics reporting features by following the 
            instructions at this link: <a href="https://tools.google.com/dlpage/gaoptout/">https://tools.google.com/dlpage/gaoptout/.</a></li>
        <li>To fulfill the purpose for which you provide it.</li>
        <li>If you post comments, images, and other content to a public-facing page, that information 
            (associated with your user name) will be publicly viewable.</li>
        <li>To third parties to market their products or services to you if you have not opted out of these disclosures. 
            For more information, see Choices About How We Use and Disclose Your Information.</li>
        <li>For any other purpose disclosed by us when you provide the information.</li>
        <li>With your consent.</li>
    </ul>
    <p class="page-detail">
        We may also disclose your personal information:
    </p>
    <ul class="page-detail">
        <li>To comply with any court order, law, or legal process, including to respond to any government or regulatory request.</li>
        <li>To enforce or apply our terms of use.</li>
        <li>If we believe disclosure is necessary or appropriate to protect the rights, property, or safety of Suarez, our customers, or others.</li>
    </ul>
    <p class="page-detail">
        Suarez also uses your personal information for interest-based advertising, retargeting, and contextual advertising. 
        Interest-based advertising involves the collection of data across different web domains so we can deliver ads that are tailored 
        to your interests. Our retargeting practices allow Suarez to show you products we think you would be interested in based 
        on your activity on our Website. Contextual ads are customized based on the content you are viewing at any particular time. 
        You can read more about this type of data-driven marketing on the Network Advertising Initiative website, 
        <a href="http://www.networkadvertising.org">http://www.networkadvertising.org</a>
    </p>
    <p class="page-detail">
        <u><strong>Choices About How We Use and Disclose Your Information</strong></u>
    </p>
    <p class="page-detail">
        We strive to provide you with choices regarding the personal information you provide to us. 
        We have created mechanisms to provide you with the following control over your information: 
    </p>
    <ul class="page-detail">
        <li><strong>Tracking Technologies and Advertising.</strong> You can set your browser to refuse all or some browser cookies, 
            or to alert you when cookies are being sent. To learn how you can manage your Flash cookie settings, visit 
            the Flash player settings page on Adobe’s website. If you disable or refuse cookies, please note that some 
            parts of this site may then be inaccessible or not function properly.</li>
        <li><strong>Disclosure of Your Information for Third-Party Advertising.</strong> If you do not want us to share your 
            personal information with unaffiliated or non-agent third parties for promotional purposes, 
            by sending us an email stating your request to [santiago.cordoba@suarez.com.co].</li>
        <li><strong>Promotional Offers from the Suarez.</strong> If we have sent you a promotional email, 
            you may opt-out by clicking the unsubscribe link.</li>
    </ul>
    <p class="page-detail">
        <u><strong>Accessing and Correcting Your Information</strong></u>
    </p>
    <p class="page-detail">
        You may have the right to access the personal information we collect about you. You may also have the right 
        to correct any errors contained in that information. For details, please email us at [julian@suarez.com.co].
    </p>
    <p class="page-detail">
        <u><strong>California Privacy Rights</strong></u>
    </p>
    <p class="page-detail">
        Under California Civil Code sections 1798.83-1798.84, California residents are entitled to ask us for a notice 
        that identifies the categories of personal information we share with affiliates and/or third parties for marketing 
        purposes, and provides contact information for such affiliates and/or third parties. If you are a California 
        resident and would like a copy of this notice, please submit a written request to the following address:
        <br>
        [julian@suarez.com.co]
    </p>
    <p class="page-detail">
        <u><strong>Data Security</strong></u>
    </p>
    <p class="page-detail">
        We have implemented measures designed to secure your personal information from accidental 
        loss and from unauthorized access, use, alteration, and disclosure.
    </p>
    <p class="page-detail">
        The safety and security of your information also depends on you. Where we have given you (or 
        where you have chosen) a password for access to certain parts of our Website, you are responsible 
        for keeping this password confidential. We ask you not to share your password with anyone.
    </p>
    <p class="page-detail">
        Unfortunately, the transmission of information via the Internet is not completely secure. Although we 
        do our best to protect your personal information, we cannot guarantee the security of your personal 
        information transmitted to our Website. Any transmission of personal information is at your own risk. 
        We are not responsible for circumvention of any privacy settings or security measures contained on the Website.
    </p>
    <p class="page-detail">
        <u><strong>Changes to Our Privacy Policy</strong></u>
    </p>
    <p class="page-detail">
        It is our practice to post any changes we make to our privacy notice on this page. If we make material 
        changes to how we treat our users’ personal information, we will notify you through a notice on the 
        Website home page. The date the privacy notice was last revised is identified at the top of the page. 
        You are responsible for ensuring we have an up-to-date active and deliverable email address for you, 
        and for periodically visiting our Website and this privacy notice to check for any changes.
    </p>
    <p class="page-detail">
        <u><strong>Contact Information</strong></u>
    </p>
    <p class="page-detail">
        To ask questions or comment about this privacy notice and our privacy practices, contact us at: 
    </p>
    <p class="page-detail">
        [Carrera 43A # 61 Sur – 152 Bodega 179, Sabenta, Antioquia, Colombia. julian@suarez.com.co] 
    </p>
</div>


















