<div class="header-image">
    <img src="images/style_guide-back.jpg" class="img-back">
</div>

<ul class="breadcrumb">
    <li><a href="/">HOME</a></li>
</ul>

<div class="content">
    <p class="page-detail">
        LIMITED WARRANTY
        <br>
        (U.S.A. and Canada)
    </p>
    <p class="page-detail">
        Valid for and only applies to products purchased and used inside the United States and its territories and in Canada. 
    </p>
    <p class="page-detail">
        <span class="p-title">WHO MAY USE THIS WARRANTY?</span>
        Suarez International Sportswear, Inc. (“Suarez”) extends this limited warranty to the original consumer 
        purchaser only. It does not extend to any subsequent owner or other transferee of the product.
    </p>
    <p class="page-detail">
        <span class="p-title">WHAT DOES THIS WARRANTY COVER?</span>
        This limited warranty covers defects in materials and workmanship of Saurez products for a period (90) days from the date 
        of original retail purchase (the “Warranty Period”), as evidenced by a copy of the receipt or other proof of purchase.  
    </p>
    <p class="page-detail">
        <span class="p-title">WHAT IS EXCLUDED FROM THIS WARRANTY?</span>
        This limited warranty does not cover any damage due to accident, abuse, misuse, negligence, or unauthorized modification or 
        repair of the product, or if it has been handled or stored other than in accordance with Saurez’s storage or usage instructions. 
    </p>
    <p class="page-detail">
        <span class="p-title">WHAT ARE THE REMEDIES UNDER THIS WARRANTY?</span>
        Suarez’s sole obligation and entire liability under this limited warranty shall be, at Saurez’s option, either the repair or replacement of 
        the defective product or parts thereof of which Saurez is notified during the Warranty Period; provided, however, that you are responsible for: 
        (i) the cost of transportation of the product to the designated location; and 
        (ii) any loss or damage to the product resulting from such transportation.  
        Saurez will pay for return shipping by United Parcel Service or by an equivalent service as chosen by Saurez.
    </p>
    <p class="page-detail">
        <span class="p-title">HOW CAN YOU OBTAIN WARRANTY SERVICE?</span>
        Upon discovery of a defect in a covered product within the Warranty Period, you should contact Suarez Support via telephone, email, or fax 
        to obtain a RMA (Return Merchandise Authorization) number and instructions for shipping the product to a location designated by Suarez.
    </p>
    <p class="page-detail">
        To obtain Warranty service, please contact:<br>
        julian@suarez.com.co<br>
        santiago.cordoba@suarez.com.co

    </p>
    <p class="page-detail">
        You should send the product, shipping charges prepaid, to the designated service location, accompanied 
        by the RMA, your name, address and telephone number, proof of purchase date, and a description of the defect.  
    </p>
    <p class="page-detail">
        Products that have been worn should be laundered before return; receipt of unwashed products may result in the product being returned to sender.
    </p>
    <p class="page-detail">
        <span class="p-title">DISCLAIMER; LIMITATION OF LIABILITY</span>
        Any descriptions, drawings, specifications, samples, models, bulletins, or similar material, used in connection with the sale 
        of the product shall not be construed as an express warranty that the product will conform or comply with your requirements.
    </p>
    <p class="page-detail">
        EXCEPT FOR THE LIMITED WARRANTY DESCRIBED ABOVE, THERE ARE NO OTHER WARRANTIES MADE BY SUAREZ ON ANY COVERED PRODUCT. NO ORAL OR 
        WRITTEN INFORMATION OR ADVICE GIVEN BY SUAREZ, AGENTS, OR ITS EMPLOYEES SHALL CREATE A WARRANTY OR IN ANY WAY INCREASE THE SCOPE 
        OF THIS WARRANTY, AND YOU MAY NOT RELY ON ANY SUCH INFORMATION OR ADVICE. THIS WARRANTY GIVES YOU SPECIFIC LEGAL RIGHTS, AND YOU 
        MAY ALSO HAVE OTHER RIGHTS WHICH VARY FROM STATE TO STATE AND COUNTRY TO COUNTRY. SUAREZ LIMITS THE DURATION OF ANY LEGALLY IMPLIED 
        WARRANTIES INCLUDING IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, TO THE DURATION OF SAUREZ’S EXPRESS 
        WARRANTY. SOME STATES AND COUNTRIES DO NOT ALLOW LIMITATIONS ON HOW LONG AN IMPLIED WARRANTY LASTS, SO THE ABOVE LIMITATION MAY NOT 
        APPLY TO YOU. NEITHER SAUREZ NOR ANYONE ELSE WHO HAS BEEN INVOLVED IN THE CREATION, PRODUCTION, OR DELIVERY OF THIS PRODUCT SHALL 
        BE LIABLE FOR ANY DIRECT, CONSEQUENTIAL, OR INCIDENTAL DAMAGES (INCLUDING DAMAGES FOR LOSS OF BUSINESS PROFITS, BUSINESS INTERRUPTION, 
        LOSS OF BUSINESS INFORMATION AND THE LIKE) ARISING OUT OF THE USE OF OR INABILITY TO USE SUCH PRODUCT, EVEN IF SUAREZ HAS BEEN ADVISED 
        OF THE POSSIBILITY OF SUCH DAMAGES. SOME STATES AND COUNTRIES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL 
        DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU.
    </p>
    <p class="page-detail">
        In the event that any of the above limitations are held unenforceable, Suarez's liability for any damages to you or any party shall not 
        exceed the purchase price you paid, regardless of the form of any claim. This limited warranty is governed by the laws of the United 
        States of America and the State of Delaware. This limited warranty is valid for and only applies to products purchased and used inside 
        the United States (and its territories or possessions) or Canada.
    </p>
    <p class="page-detail">
        CONTACT US
    </p>
    <p class="page-detail">
        Should you have any questions about this limited warranty, or if you desire to contact Suarez for any reason, please contact us in writing at:
        <br>
        Carrera 43A # 61 Sur – 152 Bodega 179, Sabenta, Antioquia, Colombia.
        <br>
        julian@suarez.com.co
    </p>
</div>