<div class="header-image">
    <img src="images/{{ vm.line.header }}" class="main-img">
    <img src="images/{{ vm.line.image_name }}" class="img-front">
</div>

<ul class="breadcrumb">
    <li><a href="/">HOME</a></li>
    <li><a ui-sref="sports">Sports</a></li>
    <li><a href="sports/{{ vm.sport.id }}/lines">{{ vm.sport.name  }}</a></li>
    <li class="active">{{ vm.line.name }}</li>
</ul>

<div class="content">
    <p class="page-detail">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Vestibulum lobortis, risus quis luctus vehicula, neque diam iaculis erat, at laoreet lacus turpis eget velit. 
        Pellentesque vitae auctor massa. Suspendisse posuere vitae turpis id pretium. 
        Sed eget dui et risus maximus ultricies eget nec sapien. Nam hendrerit varius sem, eget tincidunt odio. 
    </p>
    <div class="row">
        <div ng-repeat="category in vm.categories" 
                ng-class="$index < vm.regular ?  vm.regularColMd : vm.specialColMd"
                class="col-sm-6 col-xs-12 col-image">
            <div ui-sref="sports/lines/categories/templates({ category_id: '{{ category.id }}' })" 
                 class="pointer image-holder image-holder-short" 
                 style="background-image: url(images/{{ category.image }})">
                <div class="caption">{{ category.name }}</div>
            </div>
        </div>
    </div>
</div>