<div class="header-image">
    <img src="images/sports.png" class="main-img">
</div>

<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Contact</li>
</ul>

<div class="content">
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <form class="form">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Last name</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Comment</label>
                    <textarea class="form-control"></textarea>
                </div>
            </form>
        </div>
    </div>
</div>