<div class="header-image">
    <img src="images/sports.png" class="main-img">
</div>

<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Cycling</a></li>
    <li class="active">INSPIRATION CENTER</li>
</ul>

<div class="content">
    <p class="page-detail">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Vestibulum lobortis, risus quis luctus vehicula, neque diam iaculis erat, at laoreet lacus turpis eget velit. 
        Pellentesque vitae auctor massa. Suspendisse posuere vitae turpis id pretium. 
        Sed eget dui et risus maximus ultricies eget nec sapien. Nam hendrerit varius sem, eget tincidunt odio. 
    </p>
</div>