<div class="header-image">
    <img src="images/inspiration-center-back.jpg" class="img-back">
    <img src="images/inspiration-center-title.png" class="img-front">
</div>

<ul class="breadcrumb">
    <li><a href="/">HOME</a></li>
    <li class="active">INSPIRATION CENTER</li>
</ul>

<div class="content">
    <p class="page-detail">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Vestibulum lobortis, risus quis luctus vehicula, neque diam iaculis erat, at laoreet lacus turpis eget velit. 
        Pellentesque vitae auctor massa. Suspendisse posuere vitae turpis id pretium. 
        Sed eget dui et risus maximus ultricies eget nec sapien. Nam hendrerit varius sem, eget tincidunt odio. 
    </p>
    <div class="container-designs">
        <div class="row-design">
            <div>
                <h2>VERDE</h2> <button class="btn btn-dark" ui-sref="contact">ADD DESIGN</button>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-2">
                    <img src="images/1/ESPALDA-VERDE-SEMICUSTOM-1.jpg">
                </div>
                <div class="col-sm-4 col-md-2">
                    <img src="images/1/FRENTE-PANTA-VERDE-SEMICUSTOM-1.jpg">
                </div>
                <div class="col-sm-4 col-md-2">
                    <img src="images/1/FRENTE-VERDE-SEMICUSTOM-1.jpg">
                </div>
                <div class="col-sm-4 col-md-2">
                    <img src="images/1/LADO-DER-PANTA-VERDE-SEMICUSTOM-1.jpg">
                </div>
                <div class="col-sm-4 col-md-2">
                    <img src="images/1/LADO-IZQ-PANTA-VERDE-SEMICUSTOM-1.jpg">
                </div>
                <div class="col-sm-4 col-md-2">
                    <img src="images/1/TRASERO-PANTA-VERDE-SEMICUSTOM-1.jpg">
                </div>
            </div>
        </div>
        <div class="row-design">
            <div>
                <h2>SALMON</h2> <button class="btn btn-dark" ui-sref="contact">ADD DESIGN</button>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-2">
                    <img src="images/2/ESPALDA-SALMON-SEMICUSTOM-1.jpg">
                </div>
                <div class="col-sm-4 col-md-2">
                    <img src="images/2/FRENTE-PANTA-SALMON-SEMICUSTOM-1.jpg">
                </div>
                <div class="col-sm-4 col-md-2">
                    <img src="images/2/FRENTE-SALMON-SEMICUSTOM-1.jpg">
                </div>
                <div class="col-sm-4 col-md-2">
                    <img src="images/2/LADO-DER-PANTA-SALMON-SEMICUSTOM-1.jpg">
                </div>
                <div class="col-sm-4 col-md-2">
                    <img src="images/2/LADO-IZQ-PANTA-SALMON-SEMICUSTOM-1.jpg">
                </div>
                <div class="col-sm-4 col-md-2">
                    <img src="images/2/TRASERO-PANTA-SALMON-SEMICUSTOM-1.jpg">
                </div>
            </div>
        </div>
        <div class="row-design">
            <div>
                <h2>NEGRO</h2> <button class="btn btn-dark" ui-sref="contact">ADD DESIGN</button>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-2">
                    <img src="images/3/ESPALDA-NEGRO-SEMICUSTOM-2.jpg">
                </div>
                <div class="col-sm-4 col-md-2">
                    <img src="images/3/FRENTE-NEGRO-SEMICUSTOM-2.jpg">
                </div>
                <div class="col-sm-4 col-md-2">
                    <img src="images/3/FRENTE-PANTA-NEGRO-SEMICUSTOM-2.jpg">
                </div>
                <div class="col-sm-4 col-md-2">
                    <img src="images/3/LADO-DER-PANTA-NEGRO-SEMICUSTOM-2.jpg">
                </div>
                <div class="col-sm-4 col-md-2">
                    <img src="images/3/LADO-IZQ-PANTA-NEGRO-SEMICUSTOM-2.jpg">
                </div>
                <div class="col-sm-4 col-md-2">
                    <img src="images/3/TRASERO-PANTA-NEGRO-SEMICUSTOM-2.jpg">
                </div>
            </div>
        </div>
        <div class="row-design">
            <div>
                <h2>ROJO</h2> <button class="btn btn-dark" ui-sref="contact">ADD DESIGN</button>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-2">
                    <img src="images/4/ESPALDA-ROJO-SEMICUSTOM-2.jpg">
                </div>
                <div class="col-sm-4 col-md-2">
                    <img src="images/4/FRENTE-PANTA-ROJO-SEMICUSTOM-2.jpg">
                </div>
                <div class="col-sm-4 col-md-2">
                    <img src="images/4/FRENTE-ROJO-SEMICUSTOM-2.jpg">
                </div>
                <div class="col-sm-4 col-md-2">
                    <img src="images/4/LADO-DER-PANTA-ROJO-SEMICUSTOM-2.jpg">
                </div>
                <div class="col-sm-4 col-md-2">
                    <img src="images/4/LADO-IZQ-PANTA-ROJO-SEMICUSTOM-2.jpg">
                </div>
                <div class="col-sm-4 col-md-2">
                    <img src="images/4/TRASERO-PANTA-ROJO-SEMICUSTOM-2.jpg">
                </div>
            </div>
        </div>
    </div>
</div>