<div class="header-image">
    <img src="images/inspiration-center-back.jpg" class="img-back">
    <img src="images/inspiration-center-title.png" class="img-front">
</div>

<ul class="breadcrumb">
    <li><a href="/">HOME</a></li>
    <li class="active">INSPIRATION CENTER</li>
</ul>

<div class="content">
    <p class="page-detail">
        En este listado ustede encontrará algunos diseños que sirven de inspiración para su equipo. 
        Si usted encuentra uno de su gusto describa el nombre del diseño en el correo que va dirigido
        al asesor comercial y describa en cual referencia desea que lo ajustemos.
    </p>
    <div class="row">
        <div class="col-sm-6 col-xs-12 col-image">
            <div ui-sref="semicustom" class="pointer image-holder image-holder-short" 
                 style="background-image: url(images/semi-custom.jpg)">
                <div class="caption">Semicustom</div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 col-image">
            <a href="images/styleguide.pdf" target="_blank" class="pointer image-holder image-holder-short" 
                 style="background-image: url(images/style_guide.jpg); display: block">
                <div class="caption">Style guide</div>
            </a>
        </div>
    </div>
</div>