<div class="header-image">
    <img src="images/{{ vm.sport.header }}" class="img-back">
    <img src="images/{{ vm.sport.image_name }}" class="img-front">
</div>

<ul class="breadcrumb">
    <li><a href="/">HOME</a></li>
    <li><a ui-sref="sports">Sports</a></li>
    <li class="active">{{ vm.sport.name }}</li>
</ul>

<div class="content">
    <div class="row">
        <div ng-repeat="line in vm.lines"
                ng-class="$index < vm.regular ?  vm.regularColMd : vm.specialColMd"
                class="col-sm-6 col-xs-12 col-image">
            <div ui-sref="sports/lines/categories({sport_id: '{{ line.sport.id }}', line_id: '{{ line.id }}'})" 
                 class="pointer image-holder" 
                 style="background-image: url(images/{{ line.image }})">
                <div class="caption">{{ line.name }}</div>
            </div>
        </div>
    </div>
</div>