<div class="ui top fixed menu">
    <div class="item">
        <img src="/images/logo.png">
    </div>
    <a class="item">{{ 'HOME' | translate }}</a>
    <div class="right menu">
        <a class="item" ng-click="changeLanguage('es')">{{ 'BUTTON_LANG_ES' | translate }}</a>
        <a class="item" ng-click="changeLanguage('en')">{{ 'BUTTON_LANG_EN' | translate }}</a>
        <a class="item" ui-sref="login">{{ 'LOGIN' | translate }}</a>
        <a class="item">{{ 'HELP' | translate }}</a>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container">
    <table class="table table-striped tabla-app">
        <tbody>
        <tr ng-repeat="product in vm.products">
            <td class="">{{ product.name }}</td>
        </tr>
        <tr>
            <td>{{ vm.title }}</td>
        </tr>
        </tbody>
    </table>
</div>
<p></p>
