<div class="header-image">
    <img src="images/semi-custom.jpg" class="img-back">
    <img src="images/semi-custom-title.png" class="img-front">
</div>

<ul class="breadcrumb">
    <li><a href="/">HOME</a></li>
    <li><a ui-sref="inspiration">Inspiration</a></li>
    <li class="active">SEMICUSTOM</li>
</ul>

<div class="content">
    <p class="page-detail">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Vestibulum lobortis, risus quis luctus vehicula, neque diam iaculis erat, at laoreet lacus turpis eget velit. 
        Pellentesque vitae auctor massa. Suspendisse posuere vitae turpis id pretium. 
        Sed eget dui et risus maximus ultricies eget nec sapien. Nam hendrerit varius sem, eget tincidunt odio. 
    </p>
    <div class="container-designs">
        <div class="row-design"
             ng-repeat="design in vm.designs">
            <div>
                <h2>{{ design.name }}</h2> <button class="btn btn-dark" ui-sref="contact">ADD DESIGN</button>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-2"
                     ng-repeat="image in design.images">
                    <img src="images/inspiration/{{ image }}">
                </div>
            </div>
        </div>
    </div>
</div>