<div class="header-image">
    <img src="images/sports.png" class="main-img">
</div>
<div class="row no-gutters">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Cycling</a></li>
            <li class="active">Performance</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12 col-image"
            ng-repeat="sport in vm.sports">
        <div class="view">
            <img src="images/{{ sport.image }}" class="main-img">
            <div class="mask" ui-sref="sports/lines({id: '{{ sport.id }}'})">
                <span class="helper-middle"></span><img src="images/{{ sport.icon }}" width="120">
            </div>  
        </div>
    </div>
</div>