<div class="header-image">
    <img src="images/{{ vm.category.header }}" class="main-img">
    <img src="images/{{ vm.category.image_name }}" class="img-front">
</div>

<ul class="breadcrumb">
    <li><a href="/">HOME</a></li>
    <li><a href="#">SPORT</a></li>
    <li><a href="#">LINE</a></li>
    <li class="active">{{ vm.category.name }}</li>
</ul>

<div class="content">
    <p class="page-detail">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Vestibulum lobortis, risus quis luctus vehicula, neque diam iaculis erat, at laoreet lacus turpis eget velit. 
        Pellentesque vitae auctor massa. Suspendisse posuere vitae turpis id pretium. 
        Sed eget dui et risus maximus ultricies eget nec sapien. Nam hendrerit varius sem, eget tincidunt odio. 
    </p>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12 col-image text-center"
                ng-repeat="template in vm.templates">
            <span>
                <h2>{{ template.name }}<a class="pdf-download" href="images/pdf/{{ template.pdf }}" target="_blank"></a></h2>
                <img src="images/pdf/{{ template.preview }}" >
            </span>
        </div>
    </div>
</div>